{
    "printWidth": 100,
    "singleQuote": true,
    "proseWrap": "preserve",
    "overrides": [
        {
            "files": "*.ejs",
            "options": {
                "parser": "html"
            }
        }
    ]
}